h1{
    color: white;
    background-color: blue;
    text-align: center;
}

p{
    color: green
    text-transform: capitalize;
    text-indent: 25px;
    letter-spacing: 5px;
    word-spacing: 15px;
    line-height: 30px;
}